

@media screen and (min-width: 600px) {

    .musicos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            width: 140px;
            height: 140px;
        }
        p {
            font-size: 20px;
        }
    }
    

    .main p {
        font-size: 23px;
    }

    .linkDeFondo a {
        font-size: 30px;
    }

    .seccionNos1 img {
        width: 200px;
        height: 150px;
    }

    .seccionNos2 img {
        width: 200px;
        height: 150px;
    }

    .footerNosotros {
        font-size: 15px;
    }


    footer {
        font-size: 1.3em;
    }

    .introduccion img {
        width: 400px
    }
}

