@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: $alameda;
    src: url("../fonts/AlamedaScript.otf");
}

body {
    background-image: url("../img/fethi-bouhaouchine-j2s9HybIWq0-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}


.formulario1{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    text-align: center;
}


.main {
    font-family: $bebas;
    color: $color;
    width: fit-content;

    p {
        font-size: 18px;
    }

    h2 {
        font-size: 2em;
        text-decoration: underline;
    }

    .musicos{
        text-align: center;
        
        img {
            @include detallesImg;
        }
    }

    .conoceElMuseo {
        row-gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px;
        padding-bottom: 20px;
    }

    .veniAVernos {
    @extend .conoceElMuseo;
        padding-bottom: 30px;
    }
}

.introduccion {
    @extend .containerContacto;
    text-align: center;
    justify-items: center;
    justify-content: space-between;
    padding: 50px;
    row-gap: 20px;
    font-family: $bebas;
    color: $color;

    p {
        font-size: 20px;
    }

    h2 {
        font-size: 2.5em;
    }
}

.containerContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerMain {
    color: $color;
    background-image: url("../img/banner7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: ridge;
    border-color: #8e96a5;
    background-size: cover;
    background-position: bottom;
    
    h1{
        animation-name: fadeInicio;
        animation-duration: 2s;
        animation-delay: 0s;
    }

    .tituloPrincipal {
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $alameda;
        font-size: 4em;
        text-shadow: 7px 7px 2px rgb(0, 0, 0);
        text-align: center;
    }
}

.enlaces {
    background-color: $color;
    border-bottom: ridge black 1px;
        .contenedorEnlace{
            display: flex;
            justify-content:  space-around;
        
            a {
                border-radius: 0;
                background-color: $color;
                border: solid $color;
                padding: 0px 12px 0px 12px;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-family: $bebas;
                display: flex;
                justify-content: center;
                align-items: center;
                }
            }
}



footer {
    text-align: center;
    border-top: ridge;
    font-family: $bebas;
    color: $color;
    background-color: #1c1c1c;
    font-size: 15px;
        a{
        border-radius: 5px;
    }
}

.mainColeccion {
	font-family: "Bebas Neue";
	color: $color;
	text-align: map-get($variables,alinear);
	p {
		padding: 30px;
	}

    h2 {
		font-size: 2em;
		text-decoration: underline;
		text-align: map-get($variables,alinear);
	}

	img {
        @include detallesImg;
		width: 200px;
	}

    .bajoFlea{
        padding:20px
    }
    
    .guitarraGilmour{
        padding:20px
    }

    .linkDeFondo{
        padding-bottom: 20px;
    
        a{
            color: $color;
            border-style: map-get($variables,borde);
            border-color: #ffffff;
            font-size: 25px;
            background: rgba(0, 0, 0, 0.6);
            text-align: map-get($variables,alinear);
            animation-name: fondoFade;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;
            animation-duration: 4s;
        }
    }
}



.mainNosotros {
    font-family: "Bebas Neue";
    color: $color;

    .intNosotros {
        p {
            font-size: 15px;
        }
        
        img {
            width: 200px;
            @include detallesImg;
        }
    }

    .imagenesNosotros{
        img {
            @include detallesImg;
            @include medidas(100px,100px);
        }
    
        
        .seccionNos1 {
            font-size: 14px;
        
            .instrumentosBeatles{
                text-align: map-get($variables,alinear);
            }
        
            .fundador{
                text-align: map-get($variables,alinear);
            }
        }
    
        .seccionNos2 {
            text-align: map-get($variables,alinear);
            
            .articMonkeys {
                padding-bottom: 20px;
            }
        }
    }
}

.footerNosotros {
    font-size: 12px;
    padding-bottom: 5px;
}

.mainVisitas {
    font-family: "Bebas Neue";
    color: $color;

    .enviarV{
        margin: 0px;
        width: 80px;
        text-align: map-get($variables,alinear);
        padding: 10px;
        margin-left: 43px ;
    }
}

.parrafoVisitas {
    text-align: map-get($variables,alinear);
    padding: 20px;
    p {
        padding: 10px;
    }
}

.Contacto {
    font-family: "Bebas Neue";
    color: $color;

    .mainContacto {
        margin: 20px;
        text-align: map-get($variables,alinear);
    
        
        .enviarC{
        margin-left: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        }
    
    }
}



.menu__item:hover {
    background: rgba(255, 255, 255, 0.6);
    transition: 1s;
}

@keyframes fadeInicio{
    from {opacity: 0};
    to {opacity: 1};
}

@keyframes fondoFade {
    0% {
        background: rgba(255, 255, 255, 0.6);
    }

    50% {
        background-color: rgb(156, 149, 52);
    }

    100% {
        background: rgba(255, 255, 255, 0.6);
    }
}






@media screen and (min-width: 600px) {

    .musicos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            @include medidas(190px,140px);
        }
        p {
            font-size: 20px;
        }
    }
    

    .main p {
        font-size: 23px;
    }

    .linkDeFondo a {
        font-size: 30px;
    }

    .seccionNos1 img {
        @include medidas(200px,150px);
    }

    .seccionNos2 img {
        @include medidas(200px,150px);
    }

    .footerNosotros {
        font-size: 15px;
    }


    footer {
        font-size: 1.3em;
    }

    .introduccion img {
        width: 400px
    }
}





@media screen and (min-width: 768px) {

    body {
        background-image: url("../img/banner7.jpg");
    }

    .headerMain{

        .tituloPrincipal {
        font-size: 6.2em;
        height: 300px;
        }

    }

    .main {
	    p {
		font-size: 20px;
	    }

	    h2 {
		font-size: 40px;
	    }
    }

    .enlaces{

    .contenedorEnlace {
            a{
            padding: 0px 17px 0px 17px;
            font-size: 20px;
            }
        }
    }

    .musicos { 
        img {
            @include medidas(300px,260px)
        }
        
        p {
        width: 200px;
        font-size: 17px;
        }
    }



    .conoceElMuseo iframe {
        @include medidas(400px,250px);
    }

    .veniAVernos iframe {
        @include medidas(400px,300px);
        padding-bottom: 70px;
    }

    .Texto {
        display: flex;
        justify-content: center;
    }

    .coleccion {
        background-image: url("../img/pedalboard-gbf2d7023f_1920.jpg");
    }

    .mainColeccion{
            p {
                background: rgba(0, 0, 0, 0.6);
                border-radius: 5px;
                font-size: 20px;
                &:hover {
                    background: rgba(255, 255, 255, 0.6);
                    transition: 1s;
                }
            }

            .linkDeFondo {
        
                a{
                    font-size: 45px;
                }
            }
        }
    
    .fundador{
        img {
            @include medidas(260px,200px);
        }
    }

    .mainNosotros{

        .intNosotros{
        
            img{
            width:500px;
            }
            
            p {
            font-size: 20px;
            }

        }

        .imagenesNosotros{
            p{
                font-size: 20px;
            }

            img{
                @include medidas(220px,150px);
            }
        }
    }

    .footerNosotros {
        font-size: 1.1em;
    }

    .visitas {
        background-image: url("../img/museo.jpg");
        background-position: center;

        .mainVisitas {
            display: flex;
            flex-direction: column;
            margin: 20px;
            display: grid;
            grid-template-rows: 25% auto;
            row-gap: 60px;

            .cantidad{
                margin: 0px;
            }

            .enviarV{
                margin-left: 0px;
            }

            .parrafoVisitas {
                padding: 0px;
                text-align: left;
                padding-bottom: 50px;
        
                h2 {
                    font-size: 2.5em;
                }
                
                p {
                    font-size: 20px;
                    padding: 0px;
                }
            }
        }
    }


    .Contacto {
        background-image: url("../img/bannercontaco2.jpg");
        background-position: center;

        .parrafoContacto {
            text-align: left;
            h2 {
                font-size: 2.5em;
            }
        
            p {
                font-size: 20px;
            }
        }

        .formContacto{
            height: 510px;
        }
    }

    .mainContacto {
        margin: 20px;
        text-align: left;

        .cantidad{
            margin: 0px;
        }
    }

    .formulario1{
        display: block;
        background: rgba(0, 0, 0, 0.6);
        height:348px;
        text-align: left;
    }


    
    .notif{
        margin: 0px;
    }

    .pianoPaul{
        padding-bottom: 20px;
    }
    

}